<a href="https://colab.research.google.com/github/robitussin/CCINSYSL_EXAM/blob/main/exam_1b.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Midterm Exam üíô üíõ

Instructions ‚ùóÔ∏è‚ùóÔ∏è

‚ùå Do not remove or modify the notebook sections, subsections, exam questions or any text in this python notebook

‚úîÔ∏è Put your answer in the designated cells below each question

## Linear Regression

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from tqdm import tqdm
import random

from sklearn.metrics import r2_score
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.datasets import load_diabetes
from sklearn.preprocessing import MinMaxScaler

In [ ]:
df = load_diabetes(as_frame=True, scaled=False)
df = df['frame']

In [ ]:
df.head()

    age  sex   bmi     bp     s1     s2    s3   s4      s5    s6  target
0  59.0  2.0  32.1  101.0  157.0   93.2  38.0  4.0  4.8598  87.0   151.0
1  48.0  1.0  21.6   87.0  183.0  103.2  70.0  3.0  3.8918  69.0    75.0
2  72.0  2.0  30.5   93.0  156.0   93.6  41.0  4.0  4.6728  85.0   141.0
3  24.0  1.0  25.3   84.0  198.0  131.4  40.0  5.0  4.8903  89.0   206.0
4  50.0  1.0  23.0  101.0  192.0  125.4  52.0  4.0  4.2905  80.0   135.0

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 442 entries, 0 to 441
Data columns (total 11 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   age     442 non-null    float64
 1   sex     442 non-null    float64
 2   bmi     442 non-null    float64
 3   bp      442 non-null    float64
 4   s1      442 non-null    float64
 5   s2      442 non-null    float64
 6   s3      442 non-null    float64
 7   s4      442 non-null    float64
 8   s5      442 non-null    float64
 9   s6      442 non-null    float64
 10  target  442 non-null    float64
dtypes: float64(11)
memory usage: 38.1 KB

1. Display the correlation of all features in the dataset using the `.corr()` function. `(5 points)`

In [ ]:
# put your answer here

2. Using `sns.heatmap()`, draw a heatmap of the correlation of all features of the dataset. `(5 points)`

 - Set the `annot` parameter to **True**

In [ ]:
plt.figure(figsize=(15, 15))

# put your answer here

3. Split the data set into a training and test set. `(5 points)`

In [ ]:
# put your answer here

4. Use the `the MinMaxScaler()` method to scale down the training and test set. `(5 points)`

In [ ]:
# put your answer here

5. Create a new instance of the `LinearRegression` class. `(5 points)`

In [ ]:
# put your answer here

6. Use the `fit()` method to train the linear regression model using the scaled training set. `(5 points)`

In [ ]:
# put your answer here

7. Use the `predict()` method to make predictions using the scaled test set. `(5 points)`

In [ ]:
# put your answer here

8. Display the intercept, slope and $R^2$. `(5 points)`

In [ ]:
# put your answer here

9. Write a `normal_equation()` function that will return the intercept and coefficients/slopes. `(5 points)`

In [ ]:
# put your answer here

10. Call the `normal_equation()` function and pass the scaled training set. Display the intercept and slopes. `(5 points)`

In [ ]:
# Put your answer here